<div class="dltatt">
  <form>
    <p>Are you sure you want to delete the attendance?</p>
    <div class="button-container">
      <button class="button" mat-button (click)="deleteAttendance()">Delete</button>
      <button class="button" mat-button >Cancel</button>
  </div>
  </form>
    
</div>
  <!--
  <ul>
    <li *ngIf="attendance.attendance_id">Attendance id: {{ attendance.attendance_id }}</li>
    <li *ngIf="attendance.employee_id">Employee id: {{ attendance.employee_id }}</li>
    <li *ngIf="attendance.date">Date: {{ attendance.date }}</li>
    <li *ngIf="attendance.status">Status: {{ attendance.status }}</li>
  </ul>
    -->

<!--
    (click)="onDelete()"
    (click)="onClose()"
-->
<!--
  <h5>Delete attendance</h5>
    <p>Do you want to delete the attendance?</p>
-->