<!-- attendance-dialog.component.html -->
<div class="exportatt">
<h4>Export Attendance</h4>

<form>
  <div>
    <label for="employee_id">Employee ID:</label>
    <input type="text" id="employee_id" name="employee_id" required [(ngModel)]="exportatt.employee_id">
  </div>
  <div>
    <label for="month">Month:</label>
    <input type="text" id="month" name="month" required [(ngModel)]="exportatt.month">
  </div>
  <button type="button" (click)="exportcsv()">Export</button>
  <button type="button">Cancel</button>
</form>


</div>
