<!--
<p>export-attendance works!</p>
<section>
    <Button id="b1">Export CSV</Button>
</section>
-->
<!-- attendance-dialog.component.html -->
<div class="exportatt">
<h4>Export Attendance</h4>

<form>
  <div>
    <label for="employeeId">Employee ID:</label>
    <input type="text" id="employeeId" name="employeeId" required #employeeId>
  </div>
  <div>
    <label for="month">Month:</label>
    <input type="text" id="month" name="month" required #month>
  </div>
  <button type="button">Export</button>
  <button type="button">Cancel</button>
</form>


</div>
