body {
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(56, 3, 56);
}



nav ul li a {
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}
.add button[mat-button]{
    background-color: #007bff; /*#007bff is the default blue color for primary buttons in Material Design*/
    color: #fff; /* White text color for better contrast */
    border-radius: 4px; /* Rounded corners */
    margin-left: 75px;
    padding: 5px 10px; /* Add some padding for spacing */
  }


/*
.employee{
    margin-bottom: 20px;
}

.attendance{
    margin-top: 200px;
    margin-bottom: 20px;
}

#b2{
    margin-bottom: 200px;
}
*/