body {
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(56, 3, 56);
}



nav ul li a {
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}



/*
.employee{
    margin-bottom: 20px;
}

.attendance{
    margin-top: 200px;
    margin-bottom: 20px;
}

#b2{
    margin-bottom: 200px;
}
*/