/* home.component.css */

.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: white;
}

.content {
  text-align: center;
}

.header-image {
  position: absolute;
  margin-bottom: 20px;
  margin-top: 20px;
}

h1 {
  font-size: 3em;
  color: rgb(8, 8, 36);
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.2em;
  color: black;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.employee-button {
  background-color: #5e1f5e; /* Blue color */
  color: white;
  width: 90px;
  height: 40px;
}

.attendance-button {
  background-color: #59478a; /* Green color */
  color: white;
}

.employee-button:hover,
.attendance-button:hover {
  opacity: 0.95;
}


/*
.employee{
  margin-bottom: 20px;
}

.attendance{
  margin-top: 200px;
  margin-bottom: 20px;
}

#b2{
  margin-bottom: 200px;
}
*/