<!-- home.component.html -->
<nav>
  <ul>
    <li><a href="#">Employee Management System</a></li>
  </ul>
</nav>
<br>
<app-employee-list></app-employee-list>
<br>
<div class="add">
<button mat-button (click)="openDialog('addEmployee')">Add Employee</button>
</div>
<br>
<button mat-button (click)="openDialog('exportAttendance')">Export CSV</button><br>
<button mat-button (click)="openDialog('editEmployee')">Edit Employee</button>

<br><br>

<app-edit-employee></app-edit-employee>

<br>
<button mat-button (click)="openDialog('attendanceDelete')">Delete Attendance</button>
<app-attendance-delete></app-attendance-delete>