<div class="container mt-5">
  <h2>Employees</h2>
  <table class="table mt-3">
    <thead>
      <tr>
        <th>ID</th>
        <th>Department</th>
        <th>Other Details</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.employee_id }}</td>
        <td>{{ employee.dept }}</td>
        <td>{{ employee.other_details }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>
          <button class="btn btn-sm btn-primary" >Edit</button>
          <button class="btn btn-sm btn-danger" >Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
<!--<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by title"
          [(ngModel)]="title"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchTitle()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
        <h4>Employee List</h4>
    <ul class="list-group">
      @for (employee of employee; track employee.id; let i = $index) {
      <li
        class="list-group-item"
        [class.active]="i == currentIndex"
        (click)="setActiveEmployee(employee, i)"
      >
        {{ employee.title }}
      </li>
      }
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllEmployee()">
      Remove All
    </button>
  </div>
  <div class="col-md-6">
    <app-employee-details
      [viewMode]="true"
      [currentEmployee]="currentEmployee"
    ></app-employee-details>
  </div>
</div>-->
