<nav class="navbar">
  <a href="#" class="brand-logo">Employee Attendance Management</a>
  <ul class="nav-links">
    <div class="addatt">
      <button mat-button (click)="openDialog('addAttendance')"> Add Attendance
        <span class="box-icon box-icon-add-to-queue"></span> 
       </button>
      </div>
  </ul>
</nav>

<div class="container-mt-5">
  <table class="table mt-3">
    <thead>
      <tr>
        <th>Attendance ID</th>
        <th>Employee Name</th>
        <th>date</th>
        <th>status</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
        <tr *ngFor="let attendance of attendances">
         <td>{{ attendance.attendance_id }}</td>
          <td>{{ attendance.employeeName }}</td>
          <td>{{ attendance.date }}</td>
          <td>{{ attendance.status }}</td>
          <td>
            <div class="comb">
              <div class="editatt">
                <button mat-button (click)=" sendAtt(attendance);openDialog('editAttendance');"><i class='bx bx-edit-alt'></i></button>
              </div>
              <div class="dltatt">
                <button mat-button (click)="sendAtt(attendance);openDialog('attendanceDelete'); "><i class='bx bx-trash'></i></button>
              </div>
            </div>
          </td>
        </tr>
    </tbody>
  </table>

  <div class="comb">
    <div class="button-container">
      <button class="tohome"><a href="" routerLink="/">Go to Home</a></button>
    </div>
    <div class="export">
      <button mat-button (click)="openDialog('exportAttendance')">Export CSV</button><br>
    </div>
  </div>
</div>