<p>attendance-list works!</p>
<div class="container mt-5">
    <h2>Employees</h2>
    <table class="table mt-3">
      <thead>
        <tr>
          <th>Attendance ID</th>
          <th>Employee ID</th>
          <th>date</th>
          <th>status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let attendance of employees">
          <td>{{ attendance.employee_id }}</td>
          <td>{{ attendance.attendance_id }}</td>
          <td>{{ attendance.date }}</td>
          <td>{{ attendance.status }}</td>
          <td>
            <button class="btn btn-sm btn-primary" >Edit</button>
            <button class="btn btn-sm btn-danger" >Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>