<div class="dialog">
<form (ngSubmit)="onSubmit()">

        <label for="employee_id">Employee ID</label>
        <input type="text" class="form-control" id="employee_id" required [(ngModel)]="employee.employee_id"
          name="employee_id" />



        <label for="dept">Department</label>
        <input [(ngModel)]="employee.dept" class="form-control" id="dept" required name="dept" />


        <label for="other_details">Other Details</label>
        <input class="form-control" id="other_details" required [(ngModel)]="employee.other_details"
          name="other_details" />



        <label for="name">Name</label>
        <input class="form-control" id="name" required [(ngModel)]="employee.name" name="name" />



        <label for="email">Email</label>
        <input class="form-control" id="email" required [(ngModel)]="employee.email" name="email" />

        <button type="submit">Save Changes</button>
   </form>
  </div>
