/* You can add global styles to this file, and also import other style files */
#b1,#b2{
    background-color: rgb(55, 64, 240);
    color: white;
    cursor: pointer;
}
#b3{
    background-color: green;
    color: white;
}